* {
    main-bg:            #161B5DB3;
    main-fg:            #CCD0FFE6;
    main-br:            #A666A6E6;
    main-ex:            #33206BE6;
    select-bg:          #F0AAC180;
    select-fg:          #522936E6;
}
