* {
    main-bg:            #0D143DB3;
    main-fg:            #CCD3FFE6;
    main-br:            #974097E6;
    main-ex:            #3F3A70E6;
    select-bg:          #EBAAF080;
    select-fg:          #4F2952E6;
}
